/*****  STARSHIP RELATED STUFF ******************/
.cloakAnim {
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  transition: 0.7s;
  left: 5% !important; }

.scoutAnim {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  right: 5% !important;
  opacity: 1; }

.ghostAnim {
  opacity: 0;
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
  opacity: 1; }

.startError {
  opacity: 0;
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
  opacity: 1;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  transition: 2s;
  opacity: 0; }

.destructAnim {
  animation: showExplosion1 1.2s forwards;
  -webkit-animation: showExplosion1 1.2s forwards; }

@keyframes showExplosion1 {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0); }

  1% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5); }

  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1); }

  80% {
    opacity: 0.5; }

  100% {
    opacity: 0; } }

@-webkit-keyframes showExplosion1 {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0); }

  1% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5); }

  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1); }

  80% {
    opacity: 0.5; }

  90% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8); }

  100% {
    opacity: 0; } }

.boomAnim {
  animation: showExplosion1 0.8s forwards;
  -webkit-animation: showExplosion1 0.8s forwards; }

@keyframes showExplosion2 {
  0% {
    opacity: 1; }

  1% {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0); }

  2% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5); }

  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1); }

  99% {
    opacity: 0; } }

@-webkit-keyframes showExplosion2 {
  0% {
    opacity: 1; }

  1% {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0); }

  2% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5); }

  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1); }

  99% {
    opacity: 0; } }

.dmgHealthAnim {
  animation: dmgHealth 1.5s;
  -webkit-animation: dmgHealth 1.5s; }

@-webkit-keyframes dmgHealth {
  0% {
    color: red; }

  50% {
    color: #ff0; }

  99% {
    color: red; } }

@keyframes dmgHealth {
  0% {
    color: red; }

  50% {
    color: #ff0; }

  99% {
    color: red; } }

/**************** MISC ANIMATIONS ********************/
.chooseUrWeapon {
  animation: chooseWeapon 0.3s steps(2) infinite;
  -webkit-animation: chooseWeapon 0.3s steps(2) infinite; }

@keyframes chooseWeapon {
  from {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05); }

  to {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1); } }

@-webkit-keyframes chooseWeapon {
  from {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05); }

  to {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1); } }

/* red colors */
/* variables */
/* two color gradient */
/* mixin with default value for parameter [$borderColor]) */
body {
  background-color: #000;
  color: #777;
  text-align: center; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

body, #bodyWrap {
  min-height: 100%; }

#bodyWrap {
  height: auto !important;
  height: 100%;
  margin: 0 auto -145px; }

#myCanvas {
  position: absolute;
  z-index: 0; }

body * {
  z-index: 1; }

/* smaller elements */
h1 {
  color: #fff; }

/* misc. classes */
.clear {
  clear: both; }

.faded {
  opacity: 0; }

.iBlock {
  display: inline-block; }

.posRel {
  position: relative; }

#header {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(50%, #eeeeee), color-stop(100%, #333333));
  background-image: -webkit-linear-gradient(top, #555555 0%, #eeeeee 50%, #333333 100%);
  background-image: -moz-linear-gradient(top, #555555 0%, #eeeeee 50%, #333333 100%);
  background-image: -ms-linear-gradient(top, #555555 0%, #eeeeee 50%, #333333 100%);
  background-image: -o-linear-gradient(top, #555555 0%, #eeeeee 50%, #333333 100%);
  background-image: linear-gradient(top, #555555 0%, #eeeeee 50%, #333333 100%);
  border: 1px solid #555;
  border-width: 0 0 2px;
  background-color: #555;
  width: 100%; }
  #header h1 {
    color: #999;
    font-family: 'Exo 2', sans-serif;
    margin-top: 10px;
    text-shadow: 2px 2px #555; }

#content {
  background-color: #000;
  /* starship elements */ }
  #content #playerNotice {
    border: 1px solid #333333;
    border-radius: 15px;
    background-color: #aaa;
    height: auto;
    margin-top: 5%;
    padding: 20% 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 10; }
    #content #playerNotice #gameBtn {
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee432e), color-stop(50%, #c63929), color-stop(100%, #b51700));
      background-image: -webkit-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 100%);
      background-image: -moz-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 100%);
      background-image: -ms-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 100%);
      background-image: -o-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 100%);
      background-image: linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 100%);
      border: 1px solid yellow;
      border-radius: 5px;
      background-color: #c63929;
      color: #ff0;
      cursor: pointer;
      font-family: arial;
      font-weight: bold;
      padding: 8px 3px;
      margin: 0 auto;
      width: 100px; }
    #content #playerNotice #gameDetails {
      color: #111;
      display: none;
      font-size: 14px;
      margin: 0 auto;
      padding: 3%;
      width: 80%; }
  #content #shipDiv {
    margin-top: 25px;
    visibility: hidden; }
    #content #shipDiv #targetNotice {
      border: 1px dotted #cccccc;
      border-radius: 12px;
      color: #ff0;
      display: none;
      position: absolute;
      width: 100%; }
    #content #shipDiv .starship {
      background-size: 100% 100%;
      height: 150px;
      position: absolute;
      width: 150px; }
      #content #shipDiv .starship .hitArea {
        cursor: pointer; }
        #content #shipDiv .starship .hitArea .showHit {
          opacity: 0; }
    #content #shipDiv #cloak {
      background: url(../img/cloak.png) top left transparent no-repeat;
      background-size: 100% 100%;
      left: -170px;
      top: 40px; }
      #content #shipDiv #cloak .hitArea {
        margin: 40% 0 0 9%;
        height: 25%;
        width: 75%;
        transform: rotate(-23deg);
        -webkit-transform: rotate(-23deg);
        -moz-transform: rotate(-23deg);
        -ms-transform: rotate(-23deg); }
    #content #shipDiv #ghost {
      background: url(../img/ghost.png) top left transparent no-repeat;
      background-size: 100% 100%;
      left: 40%;
      top: 30px; }
      #content #shipDiv #ghost .hitArea {
        margin: 21% 0 0 14%;
        height: 41%;
        width: 75%;
        border-radius: 50px;
        -moz-border-radius: 50px; }
    #content #shipDiv #scout {
      background: url(../img/scout.png) top left transparent no-repeat;
      background-size: 100% 100%;
      right: -100px;
      top: 10px; }
      #content #shipDiv #scout .hitArea {
        margin: 32% 0 0 14%;
        height: 41%;
        width: 73%; }

#navBar {
  position: relative; }
  #navBar #scoreBoard {
    margin-top: 10px; }
  #navBar #shipDetails > div {
    margin-bottom: 15px;
    text-align: center; }
    #navBar #shipDetails > div > div {
      margin: 0 auto;
      width: 50%; }
    #navBar #shipDetails > div .hdr {
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(50%, #999999), color-stop(100%, #333333));
      background-image: -webkit-linear-gradient(top, #555555 0%, #999999 50%, #333333 100%);
      background-image: -moz-linear-gradient(top, #555555 0%, #999999 50%, #333333 100%);
      background-image: -ms-linear-gradient(top, #555555 0%, #999999 50%, #333333 100%);
      background-image: -o-linear-gradient(top, #555555 0%, #999999 50%, #333333 100%);
      background-image: linear-gradient(top, #555555 0%, #999999 50%, #333333 100%);
      border: 1px solid #999999;
      border-radius: 5px 5px 0 0;
      color: #212A94;
      font-weight: bold; }
    #navBar #shipDetails > div .wrap {
      border: 1px solid #999999;
      border-radius: 0 0 5px 5px;
      background-color: #000;
      text-align: left; }
      #navBar #shipDetails > div .wrap > div {
        padding: 0 5px; }
    #navBar #shipDetails > div .dynTxt {
      color: #ff0; }

#footer {
  clear: both;
  height: auto;
  min-height: 145px;
  position: relative;
  /* navBar elements */ }
  #footer #playerConsole {
    padding-bottom: 10px;
    text-align: center; }
    #footer #playerConsole .hdr {
      margin: 0 auto;
      width: 80%; }
      #footer #playerConsole .hdr #chooseWeapon {
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(50%, #eeeeee), color-stop(100%, #333333));
        background-image: -webkit-linear-gradient(top, #555555 0%, #eeeeee 50%, #333333 100%);
        background-image: -moz-linear-gradient(top, #555555 0%, #eeeeee 50%, #333333 100%);
        background-image: -ms-linear-gradient(top, #555555 0%, #eeeeee 50%, #333333 100%);
        background-image: -o-linear-gradient(top, #555555 0%, #eeeeee 50%, #333333 100%);
        background-image: linear-gradient(top, #555555 0%, #eeeeee 50%, #333333 100%);
        border: 1px solid #ccc;
        border-radius: 5px;
        color: #222;
        font-weight: bold;
        margin: 0 0 10px;
        padding: 2px 0; }
    #footer #playerConsole .btn {
      border: 1px solid #999;
      cursor: pointer;
      display: inline-block;
      height: 75px;
      width: 75px; }
  #footer #rocketBtn {
    background: url(../img/rocketBtn.png) top left transparent no-repeat; }
    #footer #rocketBtn:hover {
      background-image: url(../img/rocketBtnGlow.png) !important; }
  #footer #laserBtn {
    background: url(../img/laserBtn.png) top left transparent no-repeat; }
    #footer #laserBtn:hover {
      background-image: url(../img/laserBtnGlow.png) !important; }
  #footer #playerTurret {
    position: absolute; }

#preloadImgs {
  left: -9999px;
  top: 0px;
  position: absolute;
  z-index: -1; }

