$quickSec: 1s;
$fadeIn: opacity 2s ease-in;
$outerShipPos: 5%;

@mixin shipAnimation($transTime){
    -webkit-transition: $transTime;
    -moz-transition: $transTime;
    transition: $transTime;
}

@mixin scaleObj($outerShipPos){
    transform: scale($outerShipPos);
    -webkit-transform: scale($outerShipPos);
    -moz-transform: scale($outerShipPos);
    -ms-transform: scale($outerShipPos);
}

@mixin rotateObj($deg){
    transform: rotate($deg);
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
}



/*****  STARSHIP RELATED STUFF ******************/
.cloakAnim {
    @include shipAnimation(0.7s);
    left: $outerShipPos !important;
}
.scoutAnim{
    @include shipAnimation(0.3s);
    right:$outerShipPos !important;
    opacity:1;
}
.ghostAnim{
    opacity:0;
    @include shipAnimation($fadeIn);
    opacity:1;
}
.startError{
    opacity:0;
    @include shipAnimation($fadeIn);
    opacity:1;
    @include shipAnimation(2s);
    opacity:0;
}

.destructAnim{
    animation:showExplosion1 1.2s forwards;
    -webkit-animation:showExplosion1 1.2s forwards;
}
    @keyframes showExplosion1
    {
        0%  {@include scaleObj(0)}
        1%  {@include scaleObj(0.5)}
        50% {@include scaleObj(1)}
        80% {opacity:0.5}
        100%{opacity:0}
    }
    @-webkit-keyframes showExplosion1 /* Safari and Chrome */
    {
        0%  {@include scaleObj(0)}
        1%  {@include scaleObj(0.5)}
        50% {@include scaleObj(1)}
        80% {opacity:0.5}
        90% {@include scaleObj(0.8)}
        100%{opacity:0}
    }

.boomAnim{
    animation:showExplosion1 0.8s forwards;
    -webkit-animation:showExplosion1 0.8s forwards;
}
    @keyframes showExplosion2
    {
        0%{ opacity:1 }
        1%  {@include scaleObj(0)}
        2%  {@include scaleObj(0.5)}
        50% {@include scaleObj(1)}
        99%{opacity:0}
    }
    @-webkit-keyframes showExplosion2
    {
        0%{ opacity:1 }
        1%  {@include scaleObj(0)}
        2%  {@include scaleObj(0.5)}
        50% {@include scaleObj(1)}
        99%{opacity:0}
    }



/**************** MISC ANIMATIONS ********************/

.chooseUrWeapon{
    animation:chooseWeapon 0.3s steps(2) infinite;
    -webkit-animation:chooseWeapon 0.3s steps(2) infinite;
}
    @keyframes chooseWeapon
    {
        from {@include scaleObj(1.05)}
        to  {@include scaleObj(1.1)}
    }
    @-webkit-keyframes chooseWeapon
    {
        from {@include scaleObj(1.05)}
        to  {@include scaleObj(1.1)}
    }




